.Player {
    display: inline-block;
    width: 30%;
    height: 300px;
    border: 1px solid black;
}

.Player.left {
    float: left;
}

.Player.right {
    float: right;
}

.Player.active.red {
    border: 2px solid red;
}

.Player.active.blue {
    border: 2px solid blue;
}

.Player .icon.flipped {
    transform: scaleX(-1);
}

.Player img {
    width: 80%;
    height: 80%;
}